/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: 'Inter-Variable';
    src: url('Inter-Variable.woff2') format('woff2 supports variations, woff2-variations');
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-display: swap;
    font-variation-settings: 'wght' 785;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}