/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозн ачения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page { 
  display: grid;
  position: relative;
  width: 100%;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-image: url('../svg/background.svg');
  background-size: 100%, 960px; 

  background-repeat: no-repeat;
}

.header {
  display: flex;
  width: 100%;
  height: 327px;
  max-width: 700px;
  justify-content: center;
  background-color: white;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid var(--Themes-mainColor, #000000)
}

.logo__group {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(49px, 10vw, 65px);
  text-align: center;
  line-height: 100%;
  margin-bottom: 20px;
}

.header__text {
  font-family: var(--accent-font);
  font-size: clamp(14px, 3vw, 23px);
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.main {
  max-width: 696px;
  width: 100%;
  height: min-content;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 100%;
  min-height: min-content;
  border: 2px solid var(--Themes-mainColor, #000000);
  background-color: white;
  margin-bottom: 50px;
}

.card__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 19px;
  line-height: 100%;
  margin: 5px 10px;
}

.card__image-container {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
}

.card__image {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  border-top: 2px solid var(--Themes-mainColor, #000000);
  border-bottom: 2px solid var(--Themes-mainColor, #000000);
}

.label {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font);
  font-size: 14px;
  -webkit-text-stroke: 0.1px var(--label-color);
  mix-blend-mode: hard-light;
  text-shadow: 
    -1px -1px 0 var(--label-color),
    1px -1px 0 var(--label-color),
    -1px 1px 0 var(--label-color),
    1px 1px 0 var(--label-color);
}

.card__textfield {
  margin: 25px;
  margin-bottom: 88px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__textfield .card__text:nth-child(1) {
  margin-bottom: 27px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 130px;
  height: 38px;
  border: 2px solid black;
  background: transparent;
}

.save__button {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 84px;
  justify-self: center;
  margin-bottom: 100px;
  background-color: transparent;
  border: 2px solid black;
}

.save__button-image {
  justify-self: center;
  align-self: end;
  width: 28px;
  height: 28px;
  transition: filter 0.5s ease-in-out;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.dialog {
  width: 341px;
  height: 191px;
}

.dialog[open]::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog__area {
  position: absolute;
  top: 30px;
  left: 42px;
  display: flex;
  height: 63px;
  width: 257px;
  gap: 20px;
  margin-bottom: 30px;
}

.dialog__image {
  width: 39px;
  height: 39px;
  align-self: center;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  justify-self: flex-end;
  text-transform: uppercase;
}

.ok__button {
  position: absolute;
  bottom: 30px;
  left: 42px;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  width: 257px;
  height: 38px;
}

.button {
  overflow: hidden;
  color: #000;
  transition: color 0.5s ease-in-out;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  transition: left 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  left: 0;
}

.button:hover {
  color: #fff;
  transform: none;
  .save__button-image {
    filter: brightness(0) invert(1);
    transition: 0.5 ease-in-out;
  }
}

.button:hover.visible {
    transform: translateX(0);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px #000000;
  transition: box-shadow 0.3s ease;
}

.like-icon {
  flex-shrink: 0;
  width: 39px;
  height: 36px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 160px;
  bottom: 25px;
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  background: transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--Themes-mainColor, #000000);
  transition: border 0.3s ease;
  outline: none;
}

.card__icon-button:hover {
  --core-color: #000;
  --heart-main-body-color: #000;
  transition: fill 0.3s ease-in-out;
}

.card__icon-button:active {
  --core-color: #F00;
  --heart-main-body-color: #F00;
  transition: fill 0.3s ease-in-out;
}

.like-icon.is-liked  {
  animation: scale 0.3s ease-in 0.1s 1;
  --sparks-animation: lights 0.3s ease-in 0.3s 1;
  --core-color: #F00;
  --heart-main-body-color: #F00;
  --contour-animation: lights 0.3s 0.06s ease-in;
}

@keyframes scale {
  from {
    transform: scale(1);

  }

  to {
    transform: scale(1.25);
  }
}

@keyframes lights {
  from {
    --sparks-opacity: 1;
    --countour-color: red;
  }

  to {
    --sparks-opacity: 0;
    --countour-color: black;
  }
}

@media (width >= 700px) {
  .header {
    height: 368px;
  }

  .label {
    right: 25px;
  }

  .save__button {
    display: flex;
    gap: 8px;
    width: 335px;
    height: 55px;
  }

  .save__button-image {
    align-self: center;
    width: 21px;
    height: 21px;
  }

  .dialog {
    width: 353px;
    height: 191px;
  }

  .dialog__area {
    left: 30px;
  }

  .ok__button {
    left: 30px;
    width: 293px;
    height: 38px;
  }
}